# Loads default set of integrations. Do not remove.
default_config:

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes
  extra_module_url:
    - /local/community/custom-brand-icons/custom-brand-icons.js

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml
switch: !include switchs.yaml

auth_oidc:
  client_id: "home-assistant"
  client_secret: ""  # Vide si client public
  discovery_url: "http://192.168.1.37:8080/realms/home"
  scopes:
    - openid
    - profile
    - email

#Proxy   
http:
  use_x_forwarded_for: true
  trusted_proxies:
    - 192.168.1.2

#Sensor 
sensor:
  - platform: websocket_api

#Template