# Use this file to store secrets like usernames and passwords.
# Learn more at https://www.home-assistant.io/docs/configuration/secrets/
some_password: "welcome"
ssh_password: "SSHpassword2025ofHomeAssistant"
ssh_user: "hasssio"
npsso_password: "OyTnVfYYx3YRY9MEKqubG40znfYlRqXnQokTcaCsPYg99GQORiB7ztSDWiXjMNA7"