---
- name: "Build - Construction des images (Windows)"
  win_shell: |
    cd "{{ project_path }}"
    docker-compose.exe build {{ '--no-cache' if force_rebuild else '' }}
  when: ansible_os_family == "Windows"
  register: build_result

- name: "Build - Construction des images (Linux)"
  become: true
  become_method: sudo
  become_flags: "-i"
  shell: |
    cd "{{ project_path }}"
    docker build {{ '--no-cache' if force_rebuild else '' }}
  when: ansible_os_family != "Windows"
  register: build_result

- name: "Build - Résultat"
  debug:
    msg: "✅ Build terminé pour {{ project_name }}"