---
# tasks file for docker_build_project
- name: "Validation - Project Path"
  fail:
    msg: "Le paramètre 'project_path' est obligatoire"
  when: project_path == ""

- name: "Validation - Build Version"
  fail:
    msg: "Le paramètre 'build_version' est obligatoire"
  when: build_version == ""

- name: "Validation - GIT Repo"
  fail:
    msg: "Le paramètre 'repo_git' est obligatoire"
  when: repo_git == ""

- name: "Info - Affichage de l'action"
  debug:
    msg: "Action {{ docker_action }} sur {{ project_name }} dans {{ project_path }}"

# Actions conditionnelles
- name: "Action BUILD AMD64 & PUSH TO MINIO"
  include_tasks: build_amd64_docker_push_minio.yml
  when: docker_action == "build_amd64_push_minio_S3"

- name: "Action BUILD DOCKER & PUSH TO MINIO"
  include_tasks: build_docker_push_minio.yml
  when: docker_action == "build_push_minio_S3"

- name: "Action BUILD"
  include_tasks: build.yml
  when: docker_action == "build"

- name: "Action START"
  include_tasks: start.yml
  when: docker_action == "start"

- name: "Action STOP"
  include_tasks: stop.yml
  when: docker_action == "stop"

- name: "Action DOWN"
  include_tasks: down.yml
  when: docker_action == "down"

- name: "Action RESTART"
  include_tasks: restart.yml
  when: docker_action == "restart"

- name: "Action STATUS"
  include_tasks: status.yml
  when: docker_action == "status"
