---
# tasks file for deploy_herlmchart_stack
- name: Add repo if missing Helm charts
  kubernetes.core.helm_repository:
    name: "{{ helm_repo_name }}"
    repo_url: "{{ helm_repo_url }}"
  register: repo_added

- name: Update list repo Helm charts
  kubernetes.core.helm_repository:
    name: "{{ helm_repo_name }}"
    repo_url: "{{ helm_repo_url }}"
    force_update: yes
  when: repo_added.changed

- name: Install or Update Helm charts
  kubernetes.core.helm:
    release_name: "{{ release_name }}"
    chart_ref: "{{ helm_repo_name }}/{{ chart_name }}"
    release_namespace: "{{ namespace }}"
    create_namespace: true
    force: true
    update_repo_cache: true