<VirtualHost *:4443>
    ServerName {{ server_name }}

    SSLEngine on
    SSLCertificateFile {{ ssl_cert_file }}
    SSLCertificateKeyFile {{ ssl_cert_key_file }}
    SSLCACertificateFile {{ ssl_cert_CA_file }}
    
    RewriteEngine On
    RewriteCond %{HTTP:Upgrade} =websocket [NC]
    RewriteRule /(.*)  {{ rewrite_home }} [P,L]

    Include {{ apache_proxy_config }}
    RequestHeader set X-Forwarded-Proto "https" env=HTTPS
    RequestHeader set X-Forwarded-Port "443" env=HTTPS

    ErrorLog ${APACHE_LOG_DIR}/ssl_error.log
    CustomLog ${APACHE_LOG_DIR}/ssl_access.log combined
</VirtualHost>