<VirtualHost *:8080>
    #ServerName {{ server_name }}

    RewriteEngine On
    RewriteCond %{HTTP:Upgrade} =websocket [NC]
    RewriteRule /(.*)  {{ rewrite_home }} [P,L]
    
    Include {{ apache_proxy_config }}
    RequestHeader set X-Forwarded-Proto "http" env=HTTP
    RequestHeader set X-Forwarded-Port "80" env=HTTP


    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>