<VirtualHost *:4443>
    ServerName {{ server_name }}

    SSLEngine on
    SSLCertificateFile {{ ssl_cert_file }}
    SSLCertificateKeyFile {{ ssl_cert_key_file }}
    SSLCACertificateFile {{ ssl_cert_CA_file }}

    Include {{ apache_proxy_config }}

    ErrorLog ${APACHE_LOG_DIR}/ssl_error.log
    CustomLog ${APACHE_LOG_DIR}/ssl_access.log combined
</VirtualHost>
