---
# tasks/service.yml - Tâches de gestion du service Keycloak

- name: Create Keycloak init script
  template:
    src: keycloak-init.sh.j2
    dest: /opt/keycloak/bin/keycloak-init.sh
    owner: keycloak
    group: keycloak
    mode: '0750'

- name: Install Keycloak systemd service
  template:
    src: keycloak.service.j2
    dest: /etc/systemd/system/keycloak.service
    owner: root
    group: root
    mode: '0644'
  notify: Reload systemd
  tags:
    - service
    - systemd

# Pre-build Keycloak avant de démarrer le service
- name: Build Keycloak before starting service
  command: /opt/keycloak/bin/kc.sh build
  become: true
  args:
    chdir: /opt/keycloak
  register: build_result
  changed_when: build_result.rc == 0
  failed_when: false  # Ne pas échouer même si la commande échoue
  tags:
    - configure
    - build
    - service

- name: Display build result
  debug:
    var: build_result.stdout_lines
  when: build_result.stdout_lines is defined
  tags:
    - configure
    - build
    - service

- name: Display build errors if any
  debug:
    var: build_result.stderr_lines
  when: build_result.stderr_lines is defined
  tags:
    - configure
    - build
    - service

- name: Bootstrap admin user with environment variable
  shell: /opt/keycloak/bin/kc.sh bootstrap-admin user --username admin --password:env PASS_VAR
  environment:
    PASS_VAR: "{{ keycloak_admin_password }}"
  register: load_pass_var

- name: Display command output
  debug:
    msg: "{{ load_pass_var.stdout }}"

- name: Ensure Keycloak service is enabled
  systemd:
    name: keycloak
    enabled: yes
    daemon_reload: yes
  tags:
    - service
    - enable

- name: Start Keycloak service
  systemd:
    name: keycloak
    state: started
  register: service_start
  until: service_start is succeeded
  retries: 3
  delay: 10
  tags:
    - service
    - start
    
- name: Ensure Keycloak service is running
  systemd:
    name: keycloak
    state: started
  tags:
    - service
    - start