---
- name: Disable swap
  command: swapoff -a
  changed_when: false

- name: Remove swap from fstab
  replace:
    path: /etc/fstab
    regexp: '^([^#].*\s+swap\s+.*)$'
    replace: '#\1'

- name: Create k8s modules config
  template:
    src: k8s-modules.conf.j2
    dest: /etc/modules-load.d/k8s.conf
    mode: '0644'

- name: Load br_netfilter module
  modprobe:
    name: br_netfilter
    state: present

- name: Create k8s sysctl config
  template:
    src: k8s-sysctl.conf.j2
    dest: /etc/sysctl.d/k8s.conf
    mode: '0644'

- name: Apply sysctl settings
  command: sysctl --system
  changed_when: false