version: "3"

services:
  server:
    image: gitea/gitea:{{ gitea_version | default('latest') }}
    container_name: gitea
    environment:
      - USER_UID={{ gitea_uid | default(1000) }}
      - USER_GID={{ gitea_gid | default(1000) }}
    restart: always
    volumes:
      - {{ gitea_data_path }}:/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    ports:
      - "{{ gitea_http_port | default('3000') }}:3000"
      - "{{ gitea_ssh_port | default('2222') }}:22"