- id: '1732573743218'
  alias: Automatisation backup home assistant
  description: Automatisation backup home assistant
  triggers:
  - trigger: time
    at: 00:01:00
  conditions: []
  actions:
  - action: hassio.backup_full
    metadata: {}
    data:
      compressed: true
  mode: single
- id: '1737497914025'
  alias: Detecte humain cuisine - Eteinds TV Samsung
  description: Si personne n'est détecté, TV samsung shutdown
  triggers:
  - trigger: state
    entity_id:
    - binary_sensor.camera_cuisinesalon_mouvement
    to: 'off'
  conditions:
  - condition: device
    device_id: be942d4857ccbe68f8fe4d662ea740af
    domain: media_player
    entity_id: cee6f4d0979520419b1b9c7d4eedd6b7
    type: is_on
  actions:
  - type: turn_off
    device_id: be942d4857ccbe68f8fe4d662ea740af
    entity_id: e60f27244cb77ea78a722bb86c8009c0
    domain: remote
  mode: single
- id: '1737498768233'
  alias: Détecte humain cuisine - Allume lumière cuisine
  description: Si le soleil est couché ou se couche
  triggers:
  - trigger: state
    entity_id:
    - binary_sensor.camera_cuisinesalon_mouvement
    to: 'on'
  conditions:
  - condition: sun
    before: sunrise
    after: sunset
  actions:
  - action: switch.turn_on
    metadata: {}
    data: {}
    target:
      entity_id: switch.lumiere_cuisine_switch_1
  mode: single
- id: '1737593885167'
  alias: 'Monitoring - Draft '
  description: ''
  triggers:
  - type: value
    device_id: 8e2b31aa32359bf751f0ecdb46f9fa51
    entity_id: 53b175544d732137135a0ace9e923258
    domain: sensor
    trigger: device
    above: 90
    for:
      hours: 0
      minutes: 1
      seconds: 0
  conditions: []
  actions: []
  mode: single